h6
{
  margin-top: 314px;
    text-align: center;
    color: white;
    font-family:'Quicksand-Regular';
    font-size: 17px;
}
		input,select {
  margin-bottom:3px;
  padding:10px;
  width: 108%;
  border:1px solid #CCC
}
		
		body
{
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bg.jpg);
    height: 100vh;
    overflow: hidden;
    background-size: cover;
}
#register-form
{
      width: 280px;
    transform: translate(135%,113%);
}
header
{
  font-weight: bold;
    font-size: 29px;
    font-family: 'Quicksand-Regular';
    top: -57px;
    position: absolute;
    color: orange;
    left: 14%;
}